@import "@/scss/public.scss";

::v-deep .el-input__inner {
  font-size: toRem(14) !important;
}

.el-pagination {
  height: toRem(35);
  margin-top: toRem(25);
  text-align: end;

  ::v-deep .btn-prev,
  ::v-deep .btn-next,
  ::v-deep .number {
    padding: 0;
    text-align: center;
    width: toRem(32);
    height: toRem(31);
    line-height: toRem(30);
    margin-right: toRem(8);
    border-radius: 4px;
    border: 1px solid rgba(217, 217, 217, 1);
    padding-top: toRem(1);
    font-size: toRem(12);
  }

  ::v-deep .more {
    display: none;
  }

  ::v-deep .el-input__inner {
    height: toRem(32);
    letter-spacing: 1px;
    font-size: toRem(12) !important;
  }

  ::v-deep.el-pagination__jump {
    margin-left: 0;
    letter-spacing: 2px;
    font-size: toRem(12);
  }

  .el-pagination__editor.el-input .el-input__inner {
    height: toRem(32);
  }
}

.tabsHead {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: toRem(0) 0 toRem(11);

  >div:first-child {
    margin-left: toRem(40);
  }

  ::v-deep .el-radio-button__orig-radio:checked+.el-radio-button__inner {
    background-color: #1E6FFF;
    border-color: #1E6FFF;
    border-radius: toRem(19) toRem(19) 0 0;
  }

  ::v-deep .el-radio-button__inner {
    border: none;
    font-size: toRem(18);
    letter-spacing: 1.5px;
    font-weight: 600;
    padding: toRem(10) 0;
    width: toRem(180);
  }

  .el-divider {
    margin: 0;
    height: 1px;
  }
}

.resetBtnIcon {
  margin-left: 15px;
  font-weight: 600;
  cursor: pointer;
  opacity: 0.8;
  font-size: toRem(14);
}

.resetBtnIcon:hover {
  opacity: 1;
}



.selectArea {
  position: relative;

  >div {
    display: flex;
    align-items: center;
    height: fit-content;
    justify-content: space-between;


    >div {
      margin-bottom: toRem(10);
      width: toRem(170);


      .el-input__icon {
        height: 100%;
        position: relative;
        top: 2%;
      }
    }


  }

  .el-cascader {
    line-height: toRem(40) !important;
    height: toRem(40.5) !important;


  }

  .moreBtn {
    width: toRem(88);
    height: toRem(21);
    line-height: toRem(21);
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    cursor: pointer;
    position: absolute;
    font-size: toRem(12);
    top: toRem(-36);
    right: toRem(0);
  }

  .moreBtn:hover {
    color: #1E6FFF;
    border: 1px solid #1E6FFF;
  }


  ::v-deep .el-input__inner {
    height: toRem(40) !important;
    border-radius: 2px;
    font-size: toRem(14) !important;
    padding-right: toRem(10);
  }

  .el-input {
    ::v-deep .el-input__inner {
      padding-right: toRem(25);
    }
  }

  ::v-deep .el-input__suffix {
    right: toRem(5);

    .el-icon-search {
      color: #6EB4FF;
      cursor: pointer;
    }
  }



  >span {
    font-size: toRem(14);
    color: #1E6FFF;
    line-height: toRem(40);
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid #1E6FFF;
    width: toRem(96);
    height: toRem(40);
    cursor: pointer;
  }

  .resetBtn {
    border: toRem(1) solid #9e9e9e;
    opacity: 0.86;
    color: #9e9e9e;
    margin-left: toRem(10) !important;
  }

  .resetBtn:hover {
    opacity: 1;
  }

  .operBtn {
    width: toRem(135);
    height: toRem(39);
    color: white;
    line-height: toRem(40);
    cursor: pointer;
    opacity: 0.85;
    background: #1E6FFF;
    font-size: toRem(14);
    margin-left: auto;
  }

  .operBtn:hover {
    opacity: 1;
  }
}

.operationArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: toRem(15);
  height: toRem(22);

  span {
    font-size: toRem(14);
  }

  i {
    font-size: toRem(15);
    color: #1E6FFF;
  }

  >div {
    width: 80%;
    height: toRem(22);
    display: flex;
    align-items: center;

    >span:nth-child(2) {
      color: #1E6FFF !important;
      margin: 0 toRem(3);
      margin-left: toRem(10);
    }
  }

  >span:last-child {
    width: toRem(88);
    height: toRem(21);
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: inline-block;
    cursor: pointer;
  }

  >span:last-child:hover {
    color: #1E6FFF;
    border: 1px solid #1E6FFF;
  }
}

.infoTable {
  >div:hover {
    >span {
      background: RGBA(244, 248, 255, 1);
    }
  }

  >div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    >span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-right: 2px;
      display: inline-block;
      height: toRem(39);
      background: white;
      font-size: toRem(14);
      line-height: toRem(39);
      border-bottom: 1px solid RGBA(227, 227, 227, 1);
    }

    >span:last-child {
      color: #1E6FFF;
    }
  }

  >div:first-child {
    >span {
      background: RGBA(250, 250, 250, 1);
      font-weight: 600;
    }

    >span:last-child {
      color: unset;
      cursor: inherit;
    }
  }
}

.blueBtn {
  color: #1E6FFF;
  cursor: pointer !important;
}

::v-deep .el-dialog__wrapper {
  .el-dialog {
    .el-dialog__body {
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      >p {
        margin: 0;
        font-size: toRem(14);
        color: rgba(0, 0, 0, 0.65);
      }

      >p:first-child {
        margin: toRem(2) 0 toRem(5);
        font-size: toRem(16);
        font-weight: 600;
        color: rgba(0, 0, 0, 0.85);
      }
    }

    .el-dialog__footer {
      padding: 0;
      padding-bottom: toRem(24);
      height: toRem(56);
      margin-top: toRem(31);

      >span {
        display: flex;
        align-items: center;
        justify-content: center;
        height: toRem(32);

        >button {
          font-size: toRem(14);
          height: toRem(32);
          width: toRem(65);
          text-align: center;
          padding: 0;
        }

        >button:nth-child(2) {
          border-color: #1E6FFF;
          background: #1E6FFF;
        }

        >button:nth-child(2):hover {
          opacity: 0.85;
        }
      }
    }
  }
}

.timeorder {
  width: toRem(160) !important;
}

.el-select-dropdown__item {
  font-size: toRem(14);
}

.btnBase {
  cursor: pointer !important;
}

::v-deep .el-date-editor .el-range-input {
  font-size: toRem(14);
}

::v-deep.el-date-editor .el-range-separator {
  font-size: toRem(14);
  height: 80%;
  line-height: toRem(25);
}

.tooltipContent {
  z-index: 999;
  font-size: toRem(14);

  >div {
    width: toRem(402);
  }

  >div:first-child {
    margin-left: 0;
    width: toRem(402);
    padding: toRem(13) toRem(15);
    color: #1E6FFF;
    background-color: rgba(238, 244, 255, 1);
  }

  >div:last-child {
    height: toRem(370);
    padding: 0;
    width: toRem(402);
    background: white;
    overflow: auto;
    margin-top: toRem(5);

    .el-divider--horizontal {
      margin: toRem(3) 0;
    }

    span:first-child {
      width: toRem(108);
      margin-left: toRem(25);
      display: inline-block;
    }

    span {
      margin: toRem(5) 0;
      color: #8C969E;

    }
  }
}

.errorList {
  >div {
    width: toRem(500);
  }

  >div:first-child {
    width: toRem(520);
    color: #f56c6c;
    background-color: rgba(252, 100, 120, 0.07);
  }

  >div:last-child {
    width: toRem(520);

    span:first-child {
      width: toRem(160);
    }
  }
}

.refuseDialog {
  ::v-deep .el-dialog {
    .el-dialog__header {
      padding: 7px 0;
    }

    .el-dialog__body {
      align-items: flex-start;

      >p {
        margin: 0 toRem(24) !important;

        >span {
          color: rgba(250, 100, 0, 1);
          font-weight: 600;
          display: inline-block;
          margin-right: 5px;
        }
      }

      .el-textarea__inner {
        resize: none;
        border: none;
        padding-left: toRem(26);
      }

      .el-divider--horizontal:nth-child(2) {
        margin: toRem(11) 0 toRem(20);
      }

      .el-divider--horizontal:nth-child(4) {
        margin: toRem(20) 0 toRem(0);
      }
    }

    .el-dialog__footer {
      padding: 0;
      padding-bottom: toRem(10) !important;
      height: toRem(42);
      margin-top: toRem(10);
    }
  }
}

.el-form-item {
  margin-bottom: 0;
  width: toRem(340);
}

.addRedStar:before {
  margin-top: 15px;
  content: "*";
  color: red;
  font-size: 18px;
  margin-left: toRem(2);
}

.drawerBtnLine {
  position: absolute !important;
  bottom: toRem(92);
  margin-bottom: 0 !important;
}

.drawerBtnArea {
  height: toRem(92);
  position: absolute;
  bottom: 0;
  line-height: toRem(92);
  width: 100%;
  text-align: left;

  >span {
    margin-left: toRem(40);
    text-align: center;
    display: inline-block;
    width: toRem(135);
    height: toRem(40);
    background: #1E6FFF;
    border-radius: toRem(20);
    font-weight: 600;
    color: white;
    line-height: toRem(40);
  }
}

.el-cascader-panel {
  font-size: toRem(12) !important;

  .el-radio {
    font-size: toRem(12)
  }
}

::v-deep .el-drawer__container {
  .el-drawer__header {
    margin-bottom: 0;
    height: toRem(75);
    font-size: toRem(22);
    font-weight: 600;
    color: #131415;
    text-align: left;
    padding: toRem(15) toRem(40) 0;

    >div {

      >span:nth-child(2),
      span:nth-child(3) {
        cursor: pointer;
        letter-spacing: 0.5px;
        border-radius: 50px;
        text-align: center;
        display: inline-block;
        font-size: toRem(14);
        font-weight: 600;
        line-height: toRem(28);
        height: toRem(28);
        border: 1px solid #1e6fff;
      }

      >span:nth-child(2) {
        color: #1e6fff;
        width: toRem(74);
        background: #ffffff;
        margin-left: toRem(18);
      }

      >span:nth-child(3) {
        margin-left: toRem(17);
        width: toRem(138);
        color: white;
        background: #1e6fff;
      }
    }

    .el-icon-close {
      font-size: toRem(30);
      font-weight: 600;
      opacity: 0.65;
    }
  }

  .el-drawer__body {
    position: relative !important;

    .el-divider {
      margin: 0;
      margin-bottom: toRem(9);
    }

    >div:nth-child(2) {
      margin: toRem(15) toRem(25) 0 0;
      height: 95%;
      padding-bottom: 0.9rem;
      overflow: auto;

      .hideClass {
        display: none;
      }
    }

    .el-divider:nth-child(3) {
      position: absolute;
      bottom: toRem(75);
      margin: 0;
      width: 92%;
    }

    >div:last-child {
      height: toRem(75);
      background-color: white;
      z-index: 999;
      width: 100%;
      position: absolute;
      bottom: 0;
      padding-left: toRem(40);
      display: flex;
      align-items: center;

      >span {
        z-index: 999;
        display: inline-block;
        width: toRem(135);
        height: toRem(40);
        line-height: toRem(40);
        border-radius: toRem(22);
        margin-right: toRem(12);
        background: #1e6fff;
        color: white;
        font-size: toRem(14);
      }

      >span:nth-child(2) {
        width: toRem(88);
        background: #ffffff;
        border: 1px solid #fc6478;
        color: rgba(252, 100, 120, 1);
      }
    }
  }

  .baseInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: toRem(40);

    span {
      display: inline-block;
      font-size: toRem(14);
      color: rgba(19, 20, 21, 0.49);
      text-align: left;
      margin-bottom: toRem(5);
    }

    >span>span:first-child {
      width: toRem(76);
    }
  }

  .infoDialog {
    font-size: toRem(16);
    padding: 0 toRem(20) 0 toRem(40);
    text-align: left;
    position: relative;
    padding-top: toRem(32);

    >p {
      margin: 0;
      width: toRem(86);
      height: toRem(20);
      /* 宽高 */
      background: linear-gradient(90deg, #6EB4FF 0%, #3B81FF 100%);
      /* 颜色 */
      border-radius: toRem(4) toRem(6) 0px 0px;
      /* 设置圆角 */
      transform: perspective(8px) scale(1.1, 1.3) rotateX(5deg);
      /* 镜头距离元素表面的位置为8px，x轴为1.1倍y轴为1.3倍，绕x轴旋转5度 */
      transform-origin: bottom left;

      /* bottom left = left bottom = 0 100% 中心点偏移量*/
    }

    >span {
      position: absolute;
      font-size: toRem(13);
      font-weight: 600;
      color: #FFFFFF;
      z-index: 999;
      top: toRem(32);
      left: toRem(53);
    }

    >img {
      position: absolute;
      top: toRem(34);
      left: 1.15rem;
      cursor: pointer;
      height: 0.16rem;
    }

    >div {
      background: #f8fafb;
      border-radius: 0px 4px 4px 4px;
      padding: toRem(20) toRem(30);

      >div {
        display: flex;
        align-items: baseline;

        >span {
          display: inline-block;
          margin-bottom: toRem(13);
        }

        >span:first-child {
          font-weight: 600;
          width: toRem(140);
        }

        >span:last-child {
          display: inline-block;
          position: relative;
          width: 70%;
          word-break: break-all;
          word-wrap: break-word;

          >img {
            position: absolute;
            margin-left: toRem(8);
            height: toRem(16);
            cursor: pointer;
          }
        }
      }

      >div:last-child {
        >span {
          margin-bottom: 0;
        }
      }
    }
  }

  .ownerInfoDialog {
    >p {
      width: toRem(105);
    }

  }

  .wtInfoDialog {
    >p {
      width: toRem(118);
    }

    >img {
      left: 1.28rem;
    }
  }

  .orgInfoDialog {
    >p {
      width: toRem(133);
    }

    >div {
      >div:nth-child(6) {
        >span:first-child {
          // width: toRem(148);
        }
      }
    }

    >img {
      left: 1.4rem;
    }
  }

  .orgOwnerInfoDialog {
    >p {
      width: toRem(146);
    }

    >img {
      left: 1.52rem;
    }

  }

  .carInfoDialog {
    >div>div>span:first-child {
      width: toRem(157);
    }
  }
}

.disabledBtn {
  opacity: 0.25 !important;
  cursor: not-allowed !important;
}

.disableBtn {
  color: #b0b0b0 !important;
  cursor: not-allowed !important;
}

::v-deep span {
  // .el-checkbox__inner {
  //   height: 15px;
  //   width: 15px;
  // }
}

// ::v-deep .el-checkbox {
//   .el-checkbox__inner::before {
//     top: 6px;
//     height: 4px;
//   }

//   .el-checkbox__inner::after {
//     -webkit-transform: rotate(45deg) scale(1.4);
//     transform: rotate(45deg) scale(1.4);
//     top: 2.5px;
//     left: 5.5px;
//   }
// }

.blueColor {
  color: #1e6fff !important;
  font-weight: 600;
}

.doneLine {
  height: toRem(1.5) !important;
}

.doneColor {
  opacity: 0.9;
}

.doneBColor {
  opacity: 0.6;
}

.noDoenColor {
  opacity: 0.4;
}

.onBtn {
  background-color: #1e6fff !important;
}

.circleBtn {
  border: toRem(2) solid #C5C5C5 !important;
}

.el-breadcrumb {
  font-size: toRem(14);
  margin-bottom: toRem(25);

  .el-breadcrumb__inner {
    color: rgba(0, 0, 0, 0.4) !important;
  }

  .is-link {
    .el-breadcrumb__inner {
      color: rgba(0, 0, 0, 0.9) !important;
    }
  }
}

.displayNode {
  opacity: 0;
}

.normalP {
  color: #409eff !important;
  font-weight: 400 !important;
}

.successP {
  color: #67c23a !important;
  font-weight: 400 !important;
}

.warningP {
  color: #e6a23c !important;
  font-weight: 400 !important;
}

.errorP {
  color: #f56c6c !important;
  font-weight: 400 !important;
}

.clickAbleBtn {
  opacity: 1 !important;
  cursor: pointer !important;
}

.redInput {
  ::v-deep .el-input__inner {
    border-color: rgba(250, 85, 85, 1) !important;
  }
}

.redSpan {
  color: rgba(250, 85, 85, 1) !important;
}

.nodataLine {
  display: flex;
  justify-content: center !important;
  height: 100%;
  padding-top: 5%;
  align-items: center;

  >div {
    width: 43%;
    height: toRem(1);
    background: #E7E7E7;
    margin: 0 toRem(8);
  }

  >span {
    width: fit-content !important;
    font-size: toRem(16);
    color: rgba(0, 0, 0, 0.4);
    border: none !important;
  }

}

.nodataLine:hover {
  >span {
    background: white !important;
  }
}

.collapseList {
  border: 1px solid #e0e0e0;
  min-height: toRem(620);
  width: toRem(1300);
  padding-bottom: toRem(30);
  height: fit-content;

  >div>div.listItem:hover {
    >span {
      background-color: RGBA(243, 247, 254, 1);
    }

  }

  .listItem {
    display: flex;
    align-items: center;
    height: toRem(40);
    justify-content: space-between;

    >span {
      height: toRem(40);
      line-height: toRem(40);
      border-bottom: 1px solid RGBA(227, 227, 227, 1);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0 toRem(3);
    }
  }

  >div:first-child:hover {
    background-color: white;
  }

  >div:first-child {
    cursor: unset !important;

    >span {
      background-color: RGBA(250, 250, 250, 1);
      color: RGBA(41, 41, 41, 1) !important;
      font-weight: 600;
      text-decoration: none !important;
    }
  }

  >div>div:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: toRem(15) toRem(68);
    padding-right: toRem(98);
    background-color: RGBA(250, 250, 250, 1);

    >div {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      >div {
        min-height: toRem(25);
        height: fit-content;
        display: flex;

        >span {
          display: inline-block;
          text-align: left;
        }

        >span:first-child {
          color: rgba(0, 0, 0, 0.4);
          width: toRem(116);
        }

        >span:last-child {
          word-wrap: break-word;
          overflow: hidden;
          max-width: toRem(500);
          height: fit-content;
        }
      }
    }
  }
}

.collapseListTotal {
  width: toRem(1300);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  >span:first-child {
    margin-top: toRem(22);
    color: rgba(0, 0, 0, 0.65);
  }

  .el-pagination {
    margin-top: toRem(22);
    padding: 0;
  }
}

.realNameTable {

  // ::v-deep .el-table__empty-text {
  //   border: toRem(1) dashed;
  // }

  ::v-deep .cell {
    font-size: toRem(14);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 toRem(10) !important;
    height: toRem(17.5);
    line-height: toRem(17.5);

    .el-tooltip {
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      display: inline-block;
    }

    .el-divider {
      margin: 0;
    }
  }

  ::v-deep th.el-table__cell {
    background: RGBA(250, 250, 250, 1);


    >div {
      display: flex;
      justify-content: center;
      align-items: center;

      >div {
        display: flex;
        flex-direction: column;
        margin-left: toRem(10);

        >i {
          cursor: pointer;
          height: toRem(8);
          line-height: toRem(8);
          font-size: toRem(16);
        }

        >i:hover {
          color: #1e6fff !important;
        }
      }



      >img {
        height: toRem(16);
        cursor: pointer;
        margin-left: toRem(10);
      }
    }
  }

  .el-button--text {
    font-size: toRem(14);
  }
}

::v-deep .el-table .el-table__cell {
  padding: 6px 0;
}

::v-deep .el-select {
  .el-select__tags {
    width: fit-content;
    width: toRem(150) !important;
    max-width: toRem(150) !important;

    >span {
      width: fit-content;

      >span:first-child {
        max-width: toRem(80);
        margin-left: toRem(5);
        font-size: toRem(12);

        .el-select__tags-text {
          width: 100%;
          max-width: 100%;
          white-space: nowrap;
          display: inline-block;
        }
      }

      >span:nth-child(2) {
        max-width: toRem(40);
        margin-left: toRem(5);
        font-size: toRem(12);

        .el-select__tags-text {
          max-width: toRem(30);
        }
      }
    }

    .el-select__input {
      // margin-left: toRem(2) !important;
      // width: toRem(1) !important;
    }
  }
}

::v-deep .el-cascader {
  .el-cascader__tags {
    width: fit-content;
    width: toRem(150) !important;
    max-width: toRem(150) !important;

    >span:first-child {
      width: toRem(80);
      max-width: toRem(80) !important;
      margin-left: toRem(5) !important;
      font-size: toRem(12) !important;

      .el-select__tags-text {
        width: 100%;
        max-width: 100%;
        white-space: nowrap;
        display: inline-block;
      }
    }

    >span:nth-child(2) {
      max-width: toRem(40);
      margin-left: toRem(5);
      font-size: toRem(12);

      .el-select__tags-text {
        max-width: toRem(30);
      }

    }


  }
}